---
# tasks file for confluent.common

# Pre-setup steps
- include_tasks: rhel.yml
  when: ansible_os_family == "RedHat"

# - include_tasks: fish_rhel.yml
#   when: ansible_facts['distribution'] == "RedHat"

# - include_tasks: fish_centos_8.yml
#   when: ansible_facts['distribution'] == "CentOS"

# - name: Getting Distribution
#   shell: cat /etc/redhat-release
#   register: release
#   when: ansible_facts['distribution'] == "CentOS"

# - include_tasks: fish_centos_8.yml
#   when: release == "CentOS Linux release 8.1.1911 (Core)"

- set_fact:
    common_role_completed: true